@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f7f0f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
  color: #9ca3af; /* gray-400 */
}

select,
select option {
  color: #575151;
  background-color: #ffffff;
}


:root {
  --navy: #223447;
  --slate: #5b7c95;
  --soft-blue: #9ebfcc;
  --beige: #ffffff;
}

body {
  background-color: var(--beige);
  color: #111827;
}

/* Select dropdown fix */
select,
select option {
  color: #000;
  background-color: #fff;
}






